on:
  push:
    branches:
      - main
  pull_request:
name: Clippy check
jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: rustup component add clippy
      - name: Install Protobuf
        run: sudo apt-get install protobuf-compiler
      - uses: Swatinem/rust-cache@v1.3.0
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features